@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* Variable declaration */

:root {
    --BG-COLOR: hsl(194, 85%, 21%);
    --FONT-SIZE: 3.5rem;
    --SHADOW-COLOR: #000;
    --TEXT-COLOR: #fff;
}

/* Reset default units*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* set background color and text color for entire page and add font style*/
html {
    background:whitesmoke ;
    max-height: 100vh;
}

body {
    background: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
    width: 420px;
    font-family: 'Cormorant Garamond', serif;
    user-select: none;
    min-height: 100vh;
    margin: 0 auto;
}

/* Header Section */
.heading {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 5px 5px var(--SHADOW-COLOR)
}

/* Display Score*/
.score {
    /* bottom: 5%; */
    font-size: var(--FONT-SIZE);
    /* left: 50%;
    position: absolute; */
    text-align: center;
    text-shadow: 2px 4px 5px var(--SHADOW-COLOR);
    /* transform: translateX(-50%) */
}
 /* Decorate the Game Board*/

 .board-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
 }

 .game-board {
    /* position: absolute; */
    /* border: 10px solid #E3B505; */
    box-sizing: content-box;
    /* left: 50%; */
    margin: 1rem auto;
    /* transform: translateX(-50%); */
 }

 /* button section */

 .buttons {
    /* position: absolute;
    left: 50%;
    bottom: 10%; */
    display: grid;
    place-items: center;
    /* transform: translateX(-50%); */
    /* grid-template-areas:
        "up   up   rgt"
        "lft  str  rgt"
        "lft  dwn  dwn"; */
    grid-template-columns: repeat(2, 85px);
    grid-template-rows: repeat(2, 80px);
    transform: rotateZ(45deg);
    gap: 20px;
}

.button {
    display: grid;
    background:#4F6D7F;
    border-radius: 5px;
    box-shadow: .5px .5px .5px var(--SHADOW-COLOR);
    color:#000;
    font-size: 3rem;
    font-weight: 1000;
    height: 100%;
    place-items: center;
    user-select: none;
    width: 90%;
}

.start {
    font-size: 3rem;
    grid-area: str; /* str = start button*/
}

/* .center {
    position: absolute;
    left: 50%;
    top :50%;
    translate: -50% -50%;
} */

.button:hover {
    background:rgba(79, 109, 127, 0.800);
    cursor: pointer;
}

.button:active,.button:focus {
    scale: 90%;
}

.up > span {
    transform: rotate(230deg);
}

.left > span {
    transform: rotate(135deg);
}

.right > span {
    transform: rotate(45deg);
}

.down > span {
    transform: rotate(-45deg);
} 

/* Home section */

.home {
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 100%;
    min-height: 90%;
    top: 80px;
    font-size: 2rem;
    color: #000;
    font-weight: 1000;
    background: linear-gradient(45deg,var(--BG-COLOR),#0b708f);
}

.play {
    width: 200px;
    height: 100px;
    border-radius: 50px;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 1000;
    border: 0;
    transform: scale(100%);
    background: #4F6D7F;
    color: #000000;
    transition: all .2s linear;
}

.play:hover {
    background: #6f96ae;
}

.play:active {
    transform: scale(90%)
}

.play:focus {
    border: 2px solid rgba(255, 0, 0, 0.436);
}

.speed {
    width: 150px;
    height: 60px;
    border: 0;
    border-radius: 20px;
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

.no-wrap {
    flex-wrap: nowrap;
}

.displaygameover {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 400px;
    height: 200px;
    background:#0b6d8a;
    border-radius: 20px;
    outline: 5px double #fffc69;
    outline-offset: -15px;
    transform: translateX(-50%);
}

.black {
    margin-top: 1rem;
    color: #fff;
}

.gameover {
    width: 130px;
    height: 50px;
    font-size: 2rem;
    border-radius: 3rem;
    border: 0;
}

.centerbutton {
    height: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
