@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=EB+Garamond&family=PT+Serif:ital@1&display=swap');

/* Variable declaration */

:root {
    --BG-COLOR: #084C61;
    --FONT-SIZE: 3.5rem;
    --SHADOW-COLOR: #000;
    --TEXT-COLOR: #fff;
}

/* Reset default units and add font style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* set background color and text color for entire page */
body {
    background: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
    font-family: 'Cormorant Garamond', serif;
    user-select: none;
}

/* Header Section */
.heading {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 5px 5px var(--SHADOW-COLOR)
}

/* Display Score*/
.score {
    bottom: 5%;
    font-size: var(--FONT-SIZE);
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 2px 4px 5px var(--SHADOW-COLOR);
    transform: translateX(-50%)
}
 /* Decorate the Game Board*/

 .game-board {
    position: absolute;
    border: 10px solid #E3B505;
    box-sizing: content-box;
    left: 50%;
    margin: 2rem auto;
    transform: translateX(-50%);
 }

 /* button section */

 .buttons {
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: grid;
    place-items: center;
    transform: translateX(-50%);
    grid-template-areas:
        "up up rgt"
        "lft str rgt"
        "lft dwn dwn";
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
}
.button {
    display: grid;
    background:#4F6D7F;
    border-radius: 50px;
    box-shadow: .5px .5px .5px var(--SHADOW-COLOR);
    color:#000;
    font-size: 1.2rem;
    font-weight: 1000;
    height: 90%;
    place-items: center;
    user-select: none;
    width: 90%;
}
.start {
    font-size: 4rem;
    grid-area: str; /* str = start button*/
}

.center {
    position: absolute;
    left: 50%;
    top :50%;
    translate: -50% -60%;
}

.button:hover {
    background:rgba(79, 109, 127, 0.800);
    cursor: pointer;
}
.button:active,.button:focus {
    scale: 90%;
}
.up {
    grid-area: up;
}

.left {
    grid-area: lft;
}

.right {
    grid-area: rgt;
}

.down {
    grid-area: dwn;
}
