@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* Variable declaration */

:root {
    --BG-COLOR: hsl(194, 85%, 21%);
    --FONT-SIZE: 3.5rem;
    --SHADOW-COLOR: #ffffff;
    --TEXT-COLOR: #000;
}

/* Reset default units*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--BG-COLOR);
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

/* set background color and text color for entire page and add font style*/

body {
    background: hsl(198, 100%, 50%);
    background-image: url(./img/3d-render-modern-tech-background-with-extruding-cubes\ \(1\).jpg);
    background-size: cover;
    color: var(--TEXT-COLOR);
    width: 360px;
    font-family: 'Cormorant Garamond', serif;
    user-select: none;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.game-board {
    width: 360px;
    height: 360px;
    margin: auto;
    border: .2px solid black;
    box-shadow: .02px .02px 100px rgba(0, 0, 0, 0.66);
    background-color: rgb(0, 213, 255);
}

/* Header Section */

.heading {
    background: none;
    text-align: center;
    text-shadow: -1px 0 .9px var(--SHADOW-COLOR);
}

.heading h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 3rem;
    transform: perspective(500px) rotateY(20deg);
}

.buttons {
    display: grid;
    place-items: center;
    position: absolute;
    left: 35%;
    top: 65%;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);
    transform-origin: center;
    transform: rotateZ(45deg);
    gap: 20px;
}

.button {
    background-color: #00000043;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 3px;
}

.button:hover {
    background: #00000032;
    cursor: pointer;
}

.button div {
    width: 20px;
    height: 20px;
    background: white;
}

.start {
    position: absolute;
    left: 20px;
    font-size: 2rem;
    font-weight: 1000;
    color: #fff;
}

.up > div {
    clip-path: polygon(0 0,0 100%,50% 100%,50% 50%,100% 50%,100% 0);
}

.down > div {
    clip-path: polygon(0 0,0 100%,50% 100%,50% 50%,100% 50%,100% 0);
    transform: rotate(180deg);
}

.right > div {
    clip-path: polygon(0 0,0 100%,50% 100%,50% 50%,100% 50%,100% 0);
    transform: rotate(90deg);
}

.left > div {
    clip-path: polygon(0 0,0 100%,50% 100%,50% 50%,100% 50%,100% 0);
    transform: rotate(-90deg);
}

/* Display Score*/
.score {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.151);
    position: absolute; 
    right: 5px;
    text-shadow: .2px .4px .5px black;
    color: #ffffff;
}

.home {
    position: absolute;
    top:0;
    left:0;
    width:360px;
    height:100%;
    background: url(./img/3d-render-modern-tech-background-with-extruding-cubes\ \(1\).jpg);
    background-size: contain;
    background-repeat: repeat;
}

.home::after {
    position: absolute;
    content: 'Snake';
    width: 200px;
    height: 100px;
    font-size: 5rem;
    font-weight: 1000;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px double rgb(0, 0, 0);
}

.select_speed {
    font-size: 2rem;
    font-weight: 1000;
    position: absolute;
    top:200px;
    left: 50px;
}

.speed {
    background: rgba(0, 0, 0, 0.409);
    margin-top: 20px;
    width: 250px;
    height: 50px;
    font-family: inherit;
    border: 0;
    font-size: 2rem;
    padding-left: 60px;
    font-weight: 1000;
    border-radius: 5px;
    color: #ffffff;
}

.speed:hover {
    background: rgba(0, 0, 0, 0.347);
    cursor: pointer;
}

.speed:focus,
.speed:active {
    border:0;
    outline: 0;
}
.play {
    background: rgba(0, 0, 0, 0.438);
    position: absolute;
    top: 440px;
    left:50px;
    border:0;
    font-family: inherit;
    font-weight: 1000;
    color: #ffffff;
    font-size: 2rem;
    width: 250px;
    height: 50px;
}

.mode {
    top:350px;
}

.play:hover {
    background: rgba(0, 0, 0, 0.308);
    cursor: pointer;
}

.homebutton {
    position: absolute;
    top: 78%;
    left: 20px;
    font-size: 2rem;
    border: 0;
}

img {
    width: 30px;
    height: 30px;
}

.image {
    display: grid;
    place-items: center;
    position: absolute;
    top: 78%;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #0000003f;
}

.tools {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imgbutton {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 5px;
}

.imgbutton:hover {
    background: rgba(0, 0, 0, 0.200);
}